.page-not-found {
  display: flex;
  flex-direction: column;

  // take all the vertical space available
  flex-grow: 1;

  // center children horizontally and vertically
  justify-content: center;
  align-items: center;

  font-size: 3.5rem;
}
