.site-footer {
  display: flex;

  min-height: $footer-height;
  width: 100%;

  margin-top: $footer-margin;

  background: var(--background-primary);
  color: var(--tertiary);

  text-align: center;
  font-size: 0.8rem;

  .footer-container {
    display: flex;
    flex-flow: column;
    justify-content: center; // vertical

    flex-grow: 1;

    margin: 0 $content-padding;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
