.site-footer {
  display: flex;
  flex-flow: column;
  justify-content: center;

  box-sizing: border-box;
  min-height: $footer-height;
  width: 100%;

  padding: 0 $content-padding;
  margin-top: $footer-margin;

  background: var(--background-primary);
  color: var(--tertiary);

  text-align: center;
  font-size: 0.8rem;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
