.site-header {
  display: flex;
  flex-flow: row wrap;

  box-sizing: border-box;
  width: 100%;

  padding: 0 $content-padding;
  margin-bottom: $header-margin;

  background: var(--background-primary);
  color: var(--primary);

  .site-title {
    padding: 0.8rem 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  a {
    display: flex;
    align-items: center;

    color: inherit;
    text-decoration: none;
  }
}

button.theme, button.menu {
  display: flex;
  flex-flow: column;
  justify-content: center;

  margin: 0 0.5rem;
  border: none;
  cursor: pointer;

  color: inherit;
  background: transparent;

  svg { scale: 1.3; }
}

button.menu {
  margin-left: auto;
  g.open { visibility: hidden; }
}

button.menu.open {
  g.open { visibility: visible; }
  g.closed { visibility: hidden; }
}

ul.site-menu {
  display: none;
  flex-flow: column wrap;
  justify-content: left;

  // remove list style
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
  padding-bottom: $content-padding;

  li {
    display: flex;
    a {
      width: 100%;
      padding: 0.5rem 0.25rem;
    }
  }

  // highlight menu item on hover
  li a:hover {
    background: var(--background-secondary);
    border-radius: $radius;
  }

  // highlight menu item pointing to current page
  li.active a {
    text-decoration: underline;
    font-weight: bold;
  }
}

ul.site-menu.open {
  display: flex;
}

@media (min-width: 768px) {
  button.menu { display: none; }

  ul.site-menu {
    display: flex;
    flex-flow: row wrap;
    width: auto;

    margin-left: auto;
    padding: 0;

    li { margin-left: 0.7rem; }
  }
}
