@mixin toggle-theme-button($theme) {
  button.toggle-theme g.light {
    visibility: if($theme == 'light', visible, hidden);
  }

  button.toggle-theme g.dark {
    visibility: if($theme == 'dark', visible, hidden);
  }
}

// default (light theme)
body {
  --primary: #171712;
  --secondary: #272722;
  --tertiary: #777777;

  --background-primary: #ffffff;
  --background-secondary: #f2f2f2;

  @include toggle-theme-button(light);
}

body.dark {
  --primary: #dadadb;
  --secondary: #c5c5c5;
  --tertiary: #9b9b9b;

  --background-primary: #1d1e20;
  --background-secondary: #2c2c30;

  @include toggle-theme-button(dark);
}
