@mixin toggle-theme-button($theme) {
  button.toggle-theme g.light {
    visibility: if($theme == 'light', visible, hidden);
  }

  button.toggle-theme g.dark {
    visibility: if($theme == 'dark', visible, hidden);
  }
}

body.light {
  --primary: #171712;
  --secondary: #272722;
  --tertiary: #777777;

  --links: #171712;

  --background-primary: #ffffff;
  --background-secondary: #f2f2f2;

  @include toggle-theme-button(light);
}

body.dark {
  --primary: #dddddd;
  --secondary: #c5c5c5;
  --tertiary: #b0b0b0;

  --links: #22bb7b;

  --background-primary: #1d1e20;
  --background-secondary: #2c2c30;

  .site-header, .site-footer {
    --primary: #eeeeee;
    --tertiary: #bbbbbb;

    --background-primary: #005538;
    --background-secondary: #006643;
  }

  @include toggle-theme-button(dark);
}
