details.table-of-contents {
  background: var(--background-secondary);
  border-radius: $radius;

  overflow: scroll;

  padding: 0.5rem;
  margin: 2rem 0;

  summary { font-weight: bold; }

  ul {
    padding: 0 2rem;
    margin: 0;
  }

  a {
    color: var(--secondary);
    text-decoration: none;
  }
}
