{{- define "main" }}
  {{- if not .IsHome }}
  <header class="page-header">
    <h1>{{ .Title }}</h1>
  </header>
  {{- end }}

  <div class="content">
    {{- partial "content.html" . }}
  </div>

  {{- if .IsHome }}
  <h2>Recent posts</h2>
  {{- end }}

  {{- $pages := .Pages }}
  {{- if .IsHome }}
    {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- end }}

  <ol class="list-posts">
    {{- range $pages }}
    <li>
      <time datetime="{{ .Date | time.Format "2006-01-02" }}">
        {{- partial "page-date.html" . -}}
      </time>
      <h3><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h3>
    </li>
    {{- end }}
  </ol>
{{- end }}
