<a class="site-title" href="{{ absLangURL "/" }}">{{ site.Title }}</a>

<button class="theme-button" onclick="theme_toggle()"
        aria-label="toggle theme">
  {{- with resources.Get "svg/theme.svg" | minify }}
    {{- .Content | safeHTML }}
  {{- end }}
</button>

<button class="menu-button" onclick="menu_toggle()"
        aria-label="toggle menu">
  {{- with resources.Get "svg/menu.svg" | minify }}
    {{- .Content | safeHTML }}
  {{- end }}
</button>

<ul class="site-menu">
  {{- range site.Menus.main }}
  <li {{- if $.IsMenuCurrent .Menu . }} class="active" {{- end }}>
    <a href="{{ absLangURL .URL }}">
      {{- .Name }}

      {{- if not .PageRef }}
        {{- with resources.Get "svg/external-link.svg" | minify }}
          {{ .Content | safeHTML }}
        {{- end }}
      {{- end }}
    </a>
  </li>
  {{- end }}
</ul>
